
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
          }
    </script>

    <script>
        function change_c(){
            var de_btn = document.getElementById("name_like"):
            de_btn.style.backgroundColor = "red";
        }
    </script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <div class="site_name_g">
        CLEO
    </div>
    <script src="{{url_for('static', filename='/js/new.js') }}"></script>
    <link href="{{ url_for('static', filename='/css/main.css') }}" rel="stylesheet">


    <div class="main_menu" align="center">
        <a href="{{ url_for('feed') }}"> Home</a>
   
           <a  href="{{ url_for('post') }}"> Create</a>
           
           <a href="{{ url_for('search') }}"> Search</a>
   
       
       </div>

<div class="items_cont" align="center">




<script type="text/javascript">

  function sendData(){
data  = { 
name : "john"
};
let xhr = newXMLHttpRequest();
xhr.open("POST" , "/new_main" , true);
xhr.setRequestHeader("Content-Type" , "application/json;charset=UTF-8");
xhr.send(JSON.stringify(data));

//update the counter
let like_button = document.getElementById('like');
let likeCount = parseInt(like_button.innerHtml);
like_button.innerHtml = likeCount + 1;

  }
 
</script>
<button likeCount = 5   id="like" onclick="sendData()">Like 5 </button>
<br>
{{name}}

</div>
</body>


</html>