
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
          }
    </script>
    <div class="site_name">
        CLEO
    </div>

    <link href="{{ url_for('static', filename='/css/main.css') }}" rel="stylesheet">

    <div class="form_login" align="center">
        <div class="contents_create">
<div class="login_name">                      <br>
Create New Post
<br>
<br>
</div>

<form method="POST" action="{{ url_for('post') }}"  enctype="multipart/form-data" >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

<textarea class="inputs" type="text" name="cl" id="inbox" placeholder="Share your Thoughts" required="" rows=" 5" style="margin: 0px; width: 330px; height: 80px;"></textarea>

    <br>
    <input class="inputs" name="tag1" placeholder="Tag" type="text">
    <br>
    <br>
    <input class="inputs" name="tag2" placeholder="Tag" type="text">
    <br>
    <br>

<button class="sub_btn" type="submit">POST</button>
          <br>
          <br>
</form>

</div>
</div>

</body>

</html>